template/auto/*
20*pdf
*.aux
*.bbl
*.blg
*.log
*.toc
template/preamble_userdata-Petra.tex
Template-Documentation.tex
main.pdf
main-blx.bib
*.bcf
*.run.xml
*test
*old
main.lof
\#*
\.\#*
main.tdo
*.synctex.gz
